<!DOCTYPE HTML>
<html>
<head>
    <title>AS Ideas Engineering - Team Woomazons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="../css/w3.css"/>
    <!--   <link rel="stylesheet" href="../css/main.css"/>-->
    <link rel="stylesheet" href="../css/main.css"/>

    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css"/>
    <script src="../js/main.js"></script>
    <script src="../js/addData.js"></script>


</head>
<body>

<div class="container">

    <div class="masthead">
        <img src="../img/logo.png" alt="Logo" height="42" width="42">
        <h3 class="muted">Woomazons</h3>
    </div>
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Wishing Well</h1>
        <p class="lead">Find out what you can do different in order to fulfill your dreams. Compare yourself with other women in similar circumstances and learn from their experience.</p>
        <div class="w3-container">
            <div class="w3-card-4">
                <div class="w3-container w3-black">
                    <h2>What's your income?</h2>
                </div>

                <form class="w3-container">

                    <label for="income" class="col-sm-2 control-label">Income</label>
                    <div class="col-sm-10 input">
                        <input type="text" class="form-control " id="income" placeholder="Enter your income">
                    </div>

                    <label for="period" class="col-sm-2 control-label">Income per</label>
                    <div class="col-sm-10 input">
                        <select id="period" size="2">
                            <option selected value="true">month</option>
                            <option value="false">year</option>
                        </select>
                    </div>

                    <label for="size" class="col-sm-2 control-label">Household Size</label>
                    <div class="col-sm-10 input">
                        <input type="text" class="form-control " id="size" placeholder="Enter your number of family members">
                    </div>

                    <a class="btn btn-large btn-success createSubmit" href="#">Check your data</a>

                </form>

                <div class="w3-bar w3-black">
                    <button class="w3-bar-item w3-button" onclick="openPerson('Single')">Single</button>
                    <button class="w3-bar-item w3-button" onclick="openPerson('Couple')">Couple</button>
                    <button class="w3-bar-item w3-button" onclick="openPerson('Mom')">Mom</button>
                </div>

                <div id="Single" class="w3-container w3-display-container person">
                    <span onclick="this.parentElement.style.display='none'"
                          class="w3-button w3-large w3-display-topright">&times;</span>
                    <h5>Single</h5>
                    <p>Please choose your options</p>
                    <div class="radio float-left">
                        <input type="radio" name="state" value="ed">In Education<br>
                        <input type="radio" name="state" value="yp">Young Professional<br>
                        <input type="radio" name="state" value="ep">Skilled Professional
                    </div>
                    <div class="person image float-right">
                        <img src="../img/single.png"/>
                    </div>
                </div>

                <div id="Couple" class="w3-container w3-display-container person" style="display:none">
                    <span onclick="this.parentElement.style.display='none'"
                          class="w3-button w3-large w3-display-topright">&times;</span>
                    <h5>Couple</h5>
                    <p>Please choose your options</p>
                </div>

                <div id="Mom" class="w3-container w3-display-container person" style="display:none">
                    <span onclick="this.parentElement.style.display='none'"
                          class="w3-button w3-large w3-display-topright">&times;</span>
                    <h5>Mom</h5>
                    <p>Please choose your options</p>
                </div>

            </div>
        </div>

        <hr>
    </div>
</div><!-- /.navbar -->

<hr>

<div class="masthead">
    <h3 class="muted">Project name</h3>


    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button" id="pension-nav">Pension</button>
        <button class="w3-bar-item w3-button" id="dreams-nav">Dreams</button>
        <button class="w3-bar-item w3-button" id="lifestyle-nav">Lifestyle</button>
    </div>

    <div class="container">
        <h2 id="text-heading"></h2>
        <p id="text-content"></p>
    </div>

    <div class="footer">
        <p>AS Ideas</p>
    </div>
</div>

<script>
    function openPerson(personName) {
        var i;
        var x = document.getElementsByClassName("person");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(personName).style.display = "block";
    }
</script>
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap.js"></script>


</body>

</html>